.App {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.feedback-form {
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
}

.form-div {
  display: grid;
  grid-template-columns: 1fr 2fr;  
  gap: 20px;
  align-items: center;
}

.form-div-label {
  text-align: left;
  /* background-color: #49fca8; */
  border-radius: 10px;
  padding: 10px;
}

.form-div-input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.form-btn {
  display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
}

.form-div-btn {
  width: 40%;
  padding:10px;
  border-radius: 20px;
  border: none;
  background-color: #49fca8;
  font-size: 16px;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin: 0 auto;
  /* background-color: #edeade; */
}

th {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

th:first-child, td:first-child {
  width: 20%;
}

.table-div-input {
  display: flex;
  justify-content: space-around;
}

.likeBtn::after {
  background-color: #49fca8;
}
